<div class="border-end border-warning h-100">
    <div class="text-center">
        <img src="/images/pic1.png" alt="imgage" class="img-fluid rounded-circle mt-5" id="img-logo">
        <h3 class="text-white mt-3 st-font">
            Bilal Ahmed
        </h3>
        <nav class="nav flex-column text-center mt-4">
            <!-- <a href="/" class="nav-link"></a> -->
            <li class="nav-item">
                <a class="nav-link <% if(page_name == "Home"){ %> active <% } %>" aria-current="page" href="/">Home</a>
              </li>
            <li class="nav-item">
                <a class="nav-link <% if(page_name == "skill"){ %> active <% } %>" aria-current="page" href="/skill">Skills</a>
              </li>
            <li class="nav-item">
                <a class="nav-link <% if(page_name == "services"){ %> active <% } %>" aria-current="page" href="/services">Services</a>
              </li>
            <li class="nav-item">
                <a class="nav-link <% if(page_name == "about"){ %> active <% } %>" aria-current="page" href="/about">About Us</a>
              </li>
            <li class="nav-item">
                <a class="nav-link <% if(page_name == "contact"){ %> active <% } %>" aria-current="page" href="/contact">Contact Us</a>
              </li>
            
        </nav>
    </div>
</div>