<%- include("./partials/upper.ejs",{title:"About"}) %>

<div class="container-fluid bg-dark m-p-d-n">
    <div class="row">
        <div class="col-sm-3">
            <%- include("./partials/sidebar.ejs",{page_name:"about"}) %>
        </div>
        <div class="col-sm-9">
            <!-- Main Content -->
        </div>
    </div>
</div>

<%- include("./partials/lower.ejs") %>